:root {
  --mainGreen: #89B0AE;
  --lightGreen: #BEE3DB;
  --mainWhite: #FAF9F9;
  --mainDark: #555B6E;
  --mainPeach: #FFD6BA;
}

body {
  font-family: "Domine", serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-green {
  color: var(--mainGreen);
}

.text-bright {
  color: var(--lightGreen);
}

.text-peach {
  color: var(--mainPeach);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainPeach);
}
